@model Narzedzia.Models.ViewModels.EventsViewModel

@{
    ViewData["Title"] = "Dodawanie spotkania";
}

<h1>Utwórz nowe spotkanie:</h1>

<style>
    .btn{
        margin-top: 10px;
    }
</style>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateEventAndRedirectToCalendarVW" id="create-event" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Events.NameCal" class="control-label"></label>
                <input asp-for="Events.NameCal" class="form-control" />
                <span asp-validation-for="Events.NameCal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Events.DescriptionCal" class="control-label"></label>
                <textarea asp-for="Events.DescriptionCal" class="form-control fs-5" id="DescriptionCal"></textarea>
                <span asp-validation-for="Events.DescriptionCal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Events.StartCal" class="control-label"></label>
                <input asp-for="Events.StartCal" class="form-control" />
                <span asp-validation-for="Events.StartCal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Events.EndCal" class="control-label"></label>
                <input asp-for="Events.EndCal" class="form-control" />
                <span asp-validation-for="Events.EndCal" class="text-danger"></span>
            </div>
            @* <div class="form-group">
            <label asp-for="Events.Wydzial" class="control-label"></label>
            <select asp-for="Events.Wydzial" class="form-control" asp-items="Model.Wydzial">
            <option value="">Wybierz wydział</option>
            </select>
            </div>

            <div class="mb-3">
            <label asp-for="Events.Narzedzie" class="control-label fs-5">Wybierz narzędzie:</label>
            <select asp-for="Events.Narzedzie" class="form-control fs-5" asp-items="Model.Narzedzie">
            <option value="">Wybierz narzędzie</option>
            </select>
            </div>

            <div class="mb-3">
            <label asp-for="Events.Stanowisko" class="control-label fs-5">Wybierz stanowisko:</label>
            <select asp-for="Events.Stanowisko" class="form-control fs-5" asp-items="Model.Stanowisko">
            <option value="">Wybierz stanowisko</option>
            </select>
            </div> *@

           @*  <div class="form-group">
                <label>Stanowisko</label>
                @Html.DropDownList("Stanowiska", Model.Stanowisko, "Wybierz stanowisko", new { @class= "form-control required" })
            </div>
            <div class="form-group">
                <label>Narzedzie</label>
                @Html.DropDownList("Narzedzia", Model.Narzedzie, "Wybierz narzedzie", new { @class= "form-control required" })
            </div>
            <div class="form-group">
                <label>Wydzial</label>
                @Html.DropDownList("Wydzialy", Model.Wydzial, "Wybierz wydzial", new { @class= "form-control required" })
            </div>
 *@

            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@* <div>
    <a asp-action="Index">Back to List</a>
</div> *@

