@{
    ViewData["Title"] = "Kalendarz";
}
<head>
<style>
    <!-- Bootstrap JS i Popper.js -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" > </script >
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" > </script >


    #calendar {
        max-width: 90%;
        height: 80%;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: auto;
    }

        .calendar
        {
            max-width: 90%;
            height: 80%;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: auto;
        }
    .fc-enter {
        transition: background-color 0.3s ease;
        background-color: #ddd; /* Kolor tła po najechaniu na wydarzenie */
        color: white;
    }

    .single-day-event {
            background-color: #0275d8; /* Kolor dla jednodniowego wydarzenia */
        color: white;
    }

    /* Dodaj style dla wydarzeń trwających dłużej niż jeden dzień */
    .multi-day-event {
            background-color: #5bc0de; /* Kolor dla wielodniowego wydarzenia */
        color: white;
    }

    .fc-event-title {
        color: white;
        font-weight: bold;
    }

    .fc-event-time {
        color: white;
        font-weight: bold;
    }
    /* Dodajemy styl dla weekendów */
    .fc-day-sat, .fc-day-sun {
        background-color: lightgray; /* Kolor tła dla sobót i niedziel */
        font-weight: bold; /* Wytłuszczenie tekstu dla sobót i niedziel */
    }

    .btn-primary
    {
        margin-top: 30px;
        margin-bottom: 5px;
    }

    #btn-primary {
        margin-top: 30px;
        margin-bottom: 5px;
    }
</style>
</head>
<script>

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events: @Html.Raw(ViewData["Events"]),
            resources: @Html.Raw(ViewData["Resources"]),
            nowIndicator: true, // Pokazuje wskaźnik "teraz"
            locale: 'pl', // Ustawienie języka na polski
            headerToolbar: {
                left: 'today prev,next',
                center: 'title',
                right: 'timeGridWeek,dayGridMonth,listMonth'
            },
            buttonText: {
                today: 'Dziś',
                month: 'Miesiąc',
                week: 'Tydzień',
                day: 'Dzień',
                list: 'Lista'
            },
            slotLabelFormat: {
                hour: 'numeric',
                minute: '2-digit',
                omitZeroMinute: false,
                meridiem: 'short'
            },
            eventTimeFormat: {
                hour: 'numeric',
                minute: '2-digit',
                meridiem: 'short'
            },
            eventDisplay: 'block', // Możesz dostosować sposób wyświetlania wydarzeń
            dayMaxEventRows: true, // Ogranicza ilość wydarzeń wyświetlanych na jednym dniu
            eventMouseEnter: function (info) {
                var popover = new bootstrap.Popover(info.el, {
                    content: '<strong>Tytuł: ' + info.event.title + '<br>Opis: ' + info.event.extendedProps.description + '</strong><br>Początek: ' + info.event.start.toLocaleString() + '<br>Koniec: ' + info.event.end.toLocaleString(),
                    trigger: 'hover',
                    placement: 'auto',
                    html: true
                });
                info.el.classList.add('fc-enter');
                info.el.style.cursor = 'pointer';
            },
            eventMouseLeave: function (info) {
                bootstrap.Popover.getInstance(info.el).dispose();
                info.el.classList.remove('fc-enter');
                info.el.style.cursor = '';
            },
            eventClick: function (info) {
                var eventId = info.event.id;
                window.open('/Events/Details/' + eventId, '_blank');
            },
            eventClassNames: function (arg) {
                if (arg.event.end && arg.event.start) {
                    if (arg.event.end.getDate() - arg.event.start.getDate() === 0) {
                        // Wydarzenie trwające jeden dzień
                        return 'single-day-event';
                    } else {
                        // Wydarzenie trwające dłużej niż jeden dzień
                        return 'multi-day-event';
                    }
                }
                return ''; // Zwróć pusty ciąg znaków w przypadku problemu z datami
            },
            firstDay: 1, // Ustawienie pierwszego dnia tygodnia na poniedziałek

           
        });
        function refreshCalendar() {
            calendar.refetchEvents();
        }
        setInterval(refreshCalendar, 300000);

        calendar.render();
    });

</script>

 <div class="text-center">
     <h1 class="form-header tools-header oswald_500"></h1>
 
  
 
    <div id="calendar"></div>
 </div>
 

 <br />
 <br />


<script>
    document.getElementById('addEventButton').addEventListener('click', function () {
        // Pokaż formularz po kliknięciu przycisku
        document.getElementById('createEventForm').style.display = 'block';

        // Możesz dodać dodatkową logikę tutaj, jeśli jest to potrzebne
    });
</script>
