@model Narzedzia.Models.Wydzial

@{
    ViewData["Title"] = "Edycja wydziału";
}

<h1 class="oswald_400 tools-header">Edycja wydziału:</h1>

<hr />
<div class="row">
    <div class="col-md-4 interspace">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="WydzialId" />
            <div class="form-group">
                <label asp-for="NazwaWydzialu" class="control-label"></label>
                <input asp-for="NazwaWydzialu" class="form-control" />
                <span asp-validation-for="NazwaWydzialu" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz zmiany" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Powrót do listy</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
